/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2015, 12:57:12 PM
    Author     : mjain4
*/

#terms-and-conditions {
    padding: 5px;
    border: solid 1px black;
    margin-bottom: 10px;
}